/.vs
/AGENTS.md
/x64
/Debug
/Release
/svr/Debug
/svr/Release
/svr/x64
/svr/ysd_hdb_svr
/dll/Debug
/dll/Release
/dll/x64
/dll/ysd_hdb_dll
/ysd_hdb_smoke_test/Debug
/ysd_hdb_smoke_test/ysd_hdb_.f8430a0b
/tools
/test
/doc